@tailwind base;

@layer base {
  html,
  body {
    @apply overflow-x-hidden;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply dark:bg-black bg-white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply dark:bg-white bg-black;
  }
  body {
    font-family: "Montserrat", sans-serif;
  }
  .main {
    @apply px-4 xl:px-24 pb-2 bg-white dark:bg-black flex flex-col justify-between;
    min-height: 100vh;
  }
}

@tailwind components;
@layer components {
  /* Everything Header :) */
  .header {
    @apply pt-6 md:pt-8 lg:pt-10 3xl:pt-32 flex justify-between items-center relative;
  }
  /* styling for smaller screens => 767 & below. Mobilr first :) */
  .nav-mobile {
    @apply w-full min-h-screen fixed right-0 bg-white dark:bg-black block md:hidden overflow-y-scroll;
    top: -150%;
    width: 100vw;
    z-index: 1000;
  }
  /* extra background behind nav-mobile for aesthetics reason?? */
  .nav-bg {
    @apply w-full min-h-screen fixed left-0 bg-black dark:bg-white block md:hidden;
    top: -150%;
    z-index: 999;
  }
  .menu-mobile {
    @apply flex justify-around items-center min-h-screen w-full flex-col absolute pb-14;
  }
  .socials-mobile {
    @apply flex justify-around items-center space-x-20 absolute left-1/2;
    bottom: 20px;
    transform: translateX(-50%);
  }
  /* Be careful, stronger specifity :)  */
  .menu-mobile .link,
  .menu-mobile .btn {
    @apply text-lg;
  }
  .menu-mobile .btn {
    @apply px-3 py-2;
  }
  .socials-mobile li {
    @apply w-8;
  }
  .svg-social {
    width: 20px;
  }
  /* Header svgs (site, twitter & github logo) */
  .svg-mode path {
    fill: #000000;
  }
  html.dark .svg-mode path {
    fill: #ffffff;
  }
  /* between 640px & 1535px */
  @screen sm {
    .btn,
    .link {
      font-size: calc(14px + (18 - 14) * ((100vw - 640px) / (1535 - 640)));
    }
  }
  /* Hamburger menu */
  .menu-btn {
    @apply fixed block md:hidden;
    top: 24px;
    right: 24px;
    width: 22px;
    height: 12px;
    z-index: 1001;
  }
  .line {
    @apply absolute left-0 bg-black dark:bg-white inline-block;
    width: 100%;
    height: 1px;
  }
  .line-1 {
    @apply top-0;
  }
  .line-2 {
    @apply bottom-0;
  }
  /* styling for larger screens => 768 & above */
  .nav-lg {
    @apply btw-center hidden md:flex;
  }
  .menu-lg {
    @apply flex btw-center space-x-7 lg:space-x-14 2xl:space-x-32;
  }
  .socials-lg {
    @apply hidden md:flex btw-center md:space-x-8 lg:space-x-10 xl:space-x-14 2xl:space-x-24;
  }
  .btn,
  .link {
    @apply text-sm 2xl:text-xl leading-7 inline-block;
  }
  .link {
    @apply font-normal;
    color: #bdbdbd;
  }
  .btn {
    @apply font-bold text-white dark:text-black px-2 py-1 xl:px-3 xl:py-2 bg-black dark:bg-white rounded-lg;
  }
  /* 1280 & above */
  @screen xl {
    .svg-social {
      width: 29px;
    }
  }

  /* Everything Hero */
  .hero {
    @apply relative;
  }
  .heading {
    @apply font-extrabold text-center 2xl:text-7xl uppercase relative;
    font-size: calc(28px + (55 - 28) * ((100vw - 100px) / (1023 - 100)));
    line-height: 100%;
  }
  @screen lg {
    .heading {
      font-size: calc(45px + (60 - 45) * ((100vw - 1024px) / (1535 - 1024)));
    }
  }
  .heading-gradient {
    @apply relative;
    background: linear-gradient(180deg, #f83b3b 0%, #1465df 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 5;
  }
  /* Hidden by default, for intro animation */
  .heading-color {
    @apply text-black dark:text-white absolute top-0 left-0 opacity-0;
    width: 100%;
    height: 100%;
    z-index: 4;
  }
  .info {
    @apply font-bold text-xs 2xl:text-xl text-center mt-6;
    line-height: 100%;
    color: #bdbdbd;
  }
  /* between 640px & 1535px screen */
  @screen sm {
    .info {
      font-size: calc(14px + (18 - 14) * ((100vw - 640px) / (1535 - 640)));
    }
  }
  /* Dots above and below main heading */
  .dots-up,
  .dots-down {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
  @screen md {
    .dots-up,
    .dots-down {
      width: unset;
    }
  }
  .dots-up {
    top: -12.59px;
  }
  .dots-down {
    bottom: -12.59px;
  }
  /* Everything Form */
  .form {
    @apply mt-5 flex justify-center flex-wrap;
  }
  /* email input */
  .input-mail {
    @apply rounded-xl py-3 2xl:py-4 pl-6 pr-10 sm:mr-6 mb-4 focus:border-black focus-within:border-black;
    background-color: #f2f2f2;
    width: 428px;
    max-width: 100%;
  }
  .input-mail::placeholder {
    @apply text-sm font-normal;
    color: #bdbdbd;
  }
  .form-btn {
    @apply font-bold text-white bg-black px-3 py-3 rounded-lg 2xl:text-xl mb-4 cursor-pointer;
    font-size: calc(13px + (16 - 13) * ((100vw - 0px) / (1535 - 0)));
    font-family: "Roboto", sans-serif;
  }
  html.dark .form-btn {
    background-color: #3366cc;
  }

  /* Frameworks & Languages => (Tools) logos... */
  .vue {
    top: 0;
    left: 1.5%;
  }
  .ember {
    top: 35.2%;
    left: -0.1%;
  }
  .react {
    left: 1.46%;
    bottom: 15.2%;
  }
  .nuxt {
    left: 35.5%;
    bottom: -19.4%;
  }
  .gatsby {
    left: 47%;
    bottom: -25.6%;
  }
  .svelte {
    right: 35.5%;
    bottom: -19.4%;
  }
  .angular {
    right: 1.46%;
    bottom: 15.2%;
  }
  .next {
    top: 35.2%;
    right: -0.1%;
  }
  .javascript {
    top: -0.015%;
    right: 3.1%;
  }
  @screen md {
    .tool {
      width: calc(40px + (50 - 40) * ((100vw - 1280px) / (1280 - 768)));
      height: calc(40px + (50 - 40) * ((100vw - 1280px) / (1280 - 768)));
    }
  }
  @screen lg {
    .ember {
      left: -1.1%;
      top: 37.2%;
    }
    .next {
      right: -1.1%;
      top: 37.2%;
    }
    .react {
      bottom: 1.2%;
    }
    .angular {
      bottom: 1.2%;
    }
    .nuxt {
      bottom: -22.3%;
    }
    .gatsby {
      bottom: -28.2%;
    }
    .svelte {
      bottom: -22.3%;
    }
  }
  @screen xl {
    .tool {
      width: calc(54px + (60 - 54) * ((100vw - 1280px) / (2560 - 1280)));
      height: calc(54px + (60 - 54) * ((100vw - 1280px) / (2560 - 1280)));
    }
    .ember {
      top: 40.2%;
    }
    .next {
      top: 40.2%;
    }
  }
  /* Toggle switch between dark and light mode */
  .toggle-switch {
    @apply mt-1 block ml-auto mr-2 relative font-normal text-black dark:text-white bg-white dark:bg-black;
    font-size: 0.625rem;
    width: 124px;
    height: 44px;
    background-color: #e5e5e5;
    border: 1px solid #efefe2;
    border-radius: 40px;
  }
  @screen 2xl {
    .toggle-switch {
      @apply text-sm;
      width: 154px;
      height: 54px;
      border-radius: 50px;
    }
  }
  .ellipse {
    @apply absolute top-px right-px bg-white flex justify-center items-center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .ellipse img {
    width: 20px;
  }
  @screen 2xl {
    .ellipse {
      width: 50px;
      height: 50px;
    }
    .ellipse img {
      width: 30px;
    }
  }
  .toggle-mode {
    @apply inline-block absolute top-1/2 w-full;
    transform: translate(0, -50%);
    transition: transform 0.3s ease-in-out;
  }
  .light-mode {
    @apply left-3 text-left opacity-100;
  }
  html.dark .light-mode {
    @apply opacity-0;
  }
  .dark-mode {
    @apply opacity-0 text-right right-3;
  }
  html.dark .dark-mode {
    @apply opacity-100;
  }
  @screen 2xl {
    .light-mode {
      @apply left-5;
    }
    .dark-mode {
      @apply right-5;
    }
  }
  /* Dialog modal */
  .modal {
    @apply fixed left-1/2 top-1/2 py-4 lg:py-12 px-3 md:px-20 text-center flex flex-col items-center justify-center;
    font-family: "Montserrat Alternates", sans-serif;
    width: 90%;
    max-width: 350px;
    min-height: 290px;
    background-color: #fbfbfb;
    box-shadow: 0px 5px 30px 5px #636363;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    z-index: 1002;
  }
  @screen 3xl {
    .modal {
      max-width: 819px;
      min-height: 496px;
    }
  }
  @screen lg {
    .modal {
      max-width: 500px;
      min-height: 370px;
      border-radius: 25px;
    }
  }
  .modal-tick {
    @apply flex items-center justify-center bg-black mx-auto mb-3 lg:mb-6 2xl:mb-6 rounded-full;
    background-image: linear-gradient(135deg, #3366cc 0%, #6c9dff 100%);
    width: 77px;
    height: 77px;
  }
  @screen sm {
    .modal-tick {
      width: 97px;
      height: 97px;
    }
  }
  @screen 2xl {
    .modal-tick {
      width: 117px;
      height: 117px;
    }
    .modal {
      max-width: 619px;
      min-height: 496px;
      border-radius: 25px;
    }
  }
  .modal-status {
    @apply font-black text-base lg:text-lg xl:text-xl 2xl:text-2xl text-black inline-block relative mb-7 2xl:mb-9;
  }
  .modal-status-line {
    @apply absolute;
    width: 0px;
    height: 5px;
    background-color: #6799ff;
  }
  .modal-status-line-1 {
    @apply left-0;
    bottom: -8px;
  }
  .modal-status-line-2 {
    @apply right-0;
    bottom: -17px;
  }
  .modal-message {
    @apply font-semibold text-sm lg:text-base xl:text-lg 2xl:text-xl text-black;
  }
  .modal-number {
    @apply px-1 py-1  lg:px-2 lg:py-2;
    background-image: linear-gradient(
      111.97deg,
      #3366cc -0.25%,
      #71a0fe 100.55%
    );
    border-radius: 5px;
  }
  .modal-cancel {
    @apply absolute;
    top: 12.7px;
    right: 7.7px;
  }
  @screen lg {
    .modal-cancel {
      top: 16.7px;
      right: 13.7px;
    }
  }
  @screen 2xl {
    .modal-cancel {
      top: 42.7px;
      right: 37.7px;
    }
  }
}

@tailwind utilities;
@layer utilities {
  .btw-center {
    @apply justify-between items-center;
  }
  .visuallyHidden {
    @apply fixed overflow-hidden;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
  }
}
